html, body 
{
  margin: 0;
  padding: 0;
  background-image: url("../img/banner.jpg");
}

* {
  box-sizing: border-box;
}

.slider {
    width: 60%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px 50px;
}
.slid{
  margin-top: 23%;
}
.slid h4{
  color:white;
}
.navbar-inverse{
  background-image:none !important;
  background-color: #e6e6e6;
  border-color: #080808;
}
.navbar-inverse .navbar-brand{
  color: #34495E !important;
}
















